body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #D8E8F2;
}

.container {
    text-align: center;
    background-color: #2E97F2;
    display: block;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container > img {
    padding: 0px;
    margin: 0;
}

.container > h1 {
    color: #FFFFFF;
    padding: 0px;
    margin-top: 0;
}

input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border-style: hidden;
}

button {
    padding: 8px 16px;
    background-color: #F28F16;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#weatherInfo {
    margin-top: 20px;
    color: #FFFFFF;
}
